@model IEnumerable<NZWalks.Web.Models.DTO.RegionsDTO>
@{
}

<h1>NZ Walks Regions</h1>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-secondary" asp-controller="Regions" asp-action="Add">Add Region</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Code</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var regions in Model)
        {
            <tr>
                <td>@regions.Id</td>
                <td>@regions.Code</td>
                <td>@regions.Name</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Regions" asp-action="Edit" asp-route-id="@regions.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Regions" asp-action="Delete" asp-route-id="@regions.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
